.containerAllCourses{
    background-color: #f0f2f59c;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 70vh;
}
.allCoursesBox{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tableAllCourses{
    width: 50vw;
    text-transform: uppercase;
    line-height: 1.2;
    flex-grow: 1;
    margin: 10px;
    
    background-color: #ffffff;
}
.trHeadHAllCourses{
    
    font-size: 3vh;
    color: #302c2c;
    background-color: #ffffff; 
}
.trAllCourses{
    color: #302c2c;
    background-color: #ffffff;
    border-bottom: 0.5vh solid black;
}
.thAllCourses{
    color: #000000;
    background-color: #c6d1d0;
}
.h1_home{
    font-family: 'Syncopate', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
}
.goCreateCourseButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.goCreateCourseLink{
    margin-top: 4px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    background-color: #36bd32;
    border-radius: 4px;
}