.containerUserCourses{
    background-color: #f0f2f59c;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 70vh;
}
.UserCoursesBox{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tableUserCourses{
    width: 50vw;
    text-transform: uppercase;
    line-height: 1.2;
    flex-grow: 1;
    margin: 10px;
    
    background-color: #ffffff;
}
.trHeadUserCourses{
    font-size: 3vh;
    color: #302c2c;
    background-color: #ffffff; 
}
.trUserCourses{
    color: #302c2c;
    background-color: #ffffff;
    border-bottom: 0.5vh solid black;
}
.thUserCourses{
    color: #000000;
    background-color: #c6d1d0;
}
.h1_home{
    font-family: 'Syncopate', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
}
.trUserInput{
   background-color: #c6d1d0;
}
.InputInputUser{
    background-color: #c6d1d0;
    border: none;
    color: rgb(13, 55, 241);
}
.inputButton{
    background-color: #09ff00;
    border: none;
}
.deleteButton{
    background-color: #cc2525;
    border: none;
}